.bg-loader{
    height: 100vh;
    width: 50vw;
    background: rgb(14, 21, 28);
    position: fixed;
    top: 0;
    transition: all 0.8s;
    z-index: 999;
}

.second{
    right: 0;
}

.line{
    position: absolute;
    width: 6px;
    transition: all 0.8s;
    height: 0;
    background: white;
    top: 50%;
    left: 50%;
    z-index: 9999;
    transform: translate(-50%,-50%);
}
